<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- if eq .URL "/" }}
    <meta name="description" content="{{ .Site.Params.Description }}">
    {{- else if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{- end }}

    <title>
        {{- if eq .URL "/" }}
        {{ .Site.Title }}
        {{- else }}
        {{ .Title }} - {{ .Site.Title }}
        {{- end }}
    </title>

    <!-- CSS -->
    {{ range .Site.Params.css -}}
    <link rel="stylesheet" href="{{ . | relURL }}">
    {{ end -}}
</head>
